@{
    Layout = "_Account";
    ViewData["Title"] = "Check Your Inbox";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center align-items-stretch">
            <div class-md-6>
                <!-- Increased column size -->
                <div class="card shadow-sm p-5 h-100 border-info">
                    <!-- Increased padding -->
                    <h3 class="text-secondary mb-4">Check Your Inbox</h3>
                    <hr />
                    <div class="alert alert-info text-center" role="alert" style="font-size: 1.2rem;">
                        A password reset link has been sent to your email. Please check your inbox.
                    </div>
                    <div class="text-center">
                        <a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-outline-info btn-lg" target="_blank">
                            Go to Your Inbox
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
