@model ForgetPasswordVM

@{
    ViewData["Title"] = "Forget Password";
    Layout = "_Account";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <!-- Changed to match Login background color -->
    <div class="container">
        <div class="row justify-content-center align-items-stretch">
            <div class="col-md-5">
                <div class="card shadow-sm p-4 border-warning" style="border-radius: 1rem;">
                    <h3 class="text-secondary mb-4">Reset Your Password</h3>

                    <form asp-action="SendEmail">
                        <div class="form-outline mb-4">
                            <label asp-for="Email"><i class="bi bi-envelope"></i> Email</label>
                            <input asp-for="Email" class="form-control form-control-lg mt-2" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger" style="display: block; text-align: left;"></span>
                        </div>

                        <button class="btn btn-outline-secondary mb-3" type="submit">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}