@model LoginUserVM

@{
    ViewData["Title"] = "Login";
    Layout = "_Account";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center align-items-stretch">
            <div class="col-md-5">
                <div class="card shadow-sm p-4 h-100 border-success">
                    <h3 class="text-success mb-4">Sign In with Company Account</h3>
                    <form asp-action="Login">
                        <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

                        <div class="form-group mb-3">
                            <label asp-for="UserNameOrEmail"><i class="bi bi-envelope"></i> UserName Or Email</label>
                            <input asp-for="UserNameOrEmail" class="form-control" placeholder="UserName Or Email" />
                            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Password"><i class="bi bi-lock"></i> Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Remember me and Forgot Password -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="RememberMe" />
                                <label class="form-check-label" asp-for="RememberMe"> Remember Me </label>
                            </div>
                            <a asp-action="ForgetPassword" class="text-primary">Forgot Password?</a>
                        </div>

                        <!-- Login button -->
                        <button type="submit" class="btn btn-outline-success mb-3">Sign In</button>
                        <div class="text-center">
                            <p>Don't have an account? <a asp-action="Register" class="text-primary">Create One</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}