@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameZone</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameZone.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/select2/css/select2.min.css" />
    <style>
        .nav-logo {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .nav-logo:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
        .logout-btn:hover {
        transform: scale(1.05);
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light shadow-lg mb-3" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand nav-link text-dark fw-bold" asp-controller="Home" asp-action="Index">
                    GameZone
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if ((User.Identity.IsAuthenticated) && User.IsInRole("Admin"))
                        {                        
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-controller="Games" asp-action="Index">Games <i class="bi bi-controller"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-controller="Roles" asp-action="Index">Roles <i class="bi bi-safe"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-controller="Users" asp-action="Index">Users <i class="bi bi-people-fill"></i></a>
                                </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            // Set a default cover image if no cover is set
                            string coverUrl = string.IsNullOrEmpty(user?.Cover)
                            ? Url.Content("~/GameZone.jpg")
                            : Url.Content($"{FileSettings.ImagesPath}/users/{user.Cover}");
                            <li class="nav-item">
                                <a class="navbar-brand" asp-controller="Manage" asp-action="Index">
                                    <img src="@coverUrl" class="rounded-circle border border-2 shadow-sm nav-logo" width="40" height="40" alt="User Cover">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger fw-bold logout-btn" asp-controller="Account" asp-action="Logout">
                                    Log out <i class="bi bi-door-open-fill"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GameZone.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
